body {
  font: 1em sans-serif;
  display: flexbox;
  background-color: antiquewhite;
}

main {
  background-color: aliceblue;
  margin: auto;
  justify-content: center;
  height: 100%;
  width: 60%;
}
